@import "_null.scss";
body {
   font-family: 'Roboto', sans-serif; 
}

._container {
   margin: 0 auto;
   width: 100%;
   padding: 0px 15px;
   max-width: 1311px;
}
@media (max-width: 1140px) { 
   ._container {
      max-width: 970px;
   }
}
@media (max-width: 992px) {
   ._container {
      max-width: 750px;
   }
}
@media (max-width: 767px) {
   ._container {
      max-width: none;
   }
}


.wrapper {

}
.header {
   position: absolute;
   width: 100%;
   top: 0;
   right: 0;
   z-index: 50;
   background-color: #000000;
		// .header__container

		&__container {
         min-height: 80px;
         display: flex;
         justify-content: space-between;
         padding-top: 10px;
         padding-bottom: 10px;
         align-items: center;

		}

		// .header__left-part

		&__left-part {
         display: flex;
         gap: 65px;
         align-items: center;
		}

		// .header__logo-link

		&__logo-link {
		}

		// .header__mail-link-item

		&__mail-link-item {
         width: 151px;
         height: 32px;
         background-color: #1F1F1F;
         padding: 4px 8px;
         border-radius: 4px;
		}

		// .header__mail-link

		&__mail-link {
         color: #FFF;
         font-size: 16px;
         font-weight: 400;
         line-height: 1.5;
		}

		// .header__right-part

		&__right-part {
         display: flex;
         gap: 65px;
		}

		// .header__menu

		&__menu {
         
		}

		// .header__list

		&__list {
         display: flex;
         gap: 20px;
         align-items: center;
         
		}

		// .header__item

		&__item {
		}

		// .header__link

		&__link {
         color: #FFF;
         font-size: 16px;
         font-weight: 400;
         line-height: 1.5; 
		}

		// .header__button

		&__button {
         display: inline-flex;
         justify-content: center;
         align-items: center;
         text-align: center;
         min-height: 48px;
         padding: 5px 32px;
         background-color: #FF7143;
         border-radius: 6px;
         color: #000;
         font-size: 16px;
         font-weight: 700;
         line-height: 1.5;
		}
}



.page {

   // .page__main

   &__main {
   
   }
   // .page__proposals

   &__proposals {
   }

   // .page__quotes

   &__quotes {
   }
}
.main {
   background-color: #FF7143;
   // .main__container

   &__container {
      display: flex;
      justify-content: space-between;
      @media (max-width: 995px) {
         justify-content: center;
      }
   }

   // .main__content

   &__content {
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 242px 22px 80px 23px;
      flex: 0 0 632px;
      @media (max-width: 995px) {
         padding-top: 190px;
      }
   }

   // .main__title

   &__title {
      color: #000;
      text-align: center;
      font-size: 72px;
      font-weight: 700;
      line-height: 1;
      margin-bottom: 21px;
   }

   // .main__text

   &__text {
      color: #000;
      text-align: center;
      font-size: 18px;
      line-height: 1.5;
      margin-bottom: 22px;
      font-weight: 400;
   }

   // .main__buttons

   &__buttons {
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
      gap: 13px 8px;

   }

   // .main__button-first

   &__button-first {
         display: inline-flex;
         justify-content: center;
         align-items: center;
         text-align: center;
         min-height: 64px;
         padding: 5px 32px;
         background-color: #000000;
         border-radius: 6px;
         color: #FFFFFF;
         font-size: 18px;
         font-weight: 700;
         line-height: 1.3;
   }

   // .main__button-second

   &__button-second {
         display: inline-flex;
         justify-content: center;
         align-items: center;
         text-align: center;
         min-height: 64px;
         padding: 5px 32px;
         background-color: #FFFFFF;
         border-radius: 6px;
         color: #000;
         font-size: 18px;
         font-weight: 700;
         line-height: 1.3;
   }

   // .main__image

   &__image {
      width: 32.8%;
      aspect-ratio: 0.48;
      @media (max-width: 995px) {
         display: none;
      }
   }
}


.proposals {
   min-height: 260px;

   // .proposals__container

   &__container {
      padding-top: 80px;
      padding-bottom: 80px;
   }

   // .proposals__block

   &__block {
      display: flex;
      gap: 51px;
      flex-wrap: wrap;
   }

   // .proposals__item

   &__item {
      display: flex;
      gap: 24px;
      flex: 0 1 calc(100% / 3 - (((3 - 1) / 3) * 51px));
   }

   // .proposals__image

   &__image {
      display: flex;
      align-items: center;
      justify-content: center;
      flex: 0 0 100px;
      height: 100px;
      background-color: #FDE7DA;
      @media (max-width: 1164px) {
         flex: 0 0 80px;
         height: 80px;
      }
   }

   // .proposals__text-content

   &__text-content {
      padding-top: 5px;
   }

   // .proposals__title

   &__title {
      font-size: 24px;
      font-weight: 700;
      line-height: 1.33333;
      margin-bottom: 13px;
   }

   // .proposals__text

   &__text {
      font-size: 16px;
      font-weight: 400;
      line-height: 1.5;
   }
}


.quotes {
   min-height: 603px;
   background-color: #000;

   // .quotes__container

   &__container {
      padding-top: 100px;
      padding-bottom: 114px;
      display: flex;
      flex-direction: column;
      align-items: center;
   }

   // .quotes__citations-block

   &__citations-block {
      color: #FFFFFF;
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 576px;
   }

   // .quotes__logo

   &__logo {
      margin-bottom: 39px;
   }

   // .quotes__citation

   &__citation {
      color: #FFF;
      text-align: center;
      font-size: 40px;
      font-weight: 400;
      line-height: 1.2;
      margin-bottom: 41px;
   }

   // .quotes__author-block

   &__author-block {
   }

   // .quotes__author-name

   &__author-name {
      text-align: center;
      font-size: 18px;
      font-weight: 700;
      line-height: 1.5;
   }

   // .quotes__author-position

   &__author-position {
      color: rgba(255, 255, 255, 0.70);
      text-align: center;
      font-size: 16px;
      font-weight: 400;
      line-height: 1.5;
      margin-bottom: 30px;
   }

   // .quotes__tabs-block

   &__tabs-block {
      display: flex;
      gap: 6px;
   }

   // .quotes__tab

   &__tab {
      background: rgba(255, 255, 255, 0.40);
      width: 16px;
      height: 16px;
      cursor: pointer;

      // .quotes__tab_active

      &_active {
         background: #FFF;
      }
   }
}

.hide {
   display: none;
}
.show {
   display: flex;
}

.tabAnimation {
   
}